@font-face {
  font-family: "Press Start 2P";
  src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf) format('truetype');
}

html {
  font-size: 16;
}

body {
  background-color: #303030;
}

div.header-div {
  width = 100%;
}

.main-header {
  font-family: "Press Start 2P";
  text-align: center;
  min-width = 500;
}

.first-header-word {
  color: white;
}

.second-header-word {
  color: red;
}

.third-header-word {

}
