@font-face {
  font-family: "Fira Code";
  src: url(../fonts/Fira_Code/static/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Fira Code Bold";
  src: url(../fonts/Fira_Code/static/FiraCode-Bold.ttf) format('truetype');
}

html {
  font-size: 16;
}

body {
  background-color: #303030;
}

.main-header {
  font-family: "Fira Code Bold";
  text-align: center;
  min-width = 500;
}

.first-header-word {
  color: white;
}

.second-header-word {
  color: red;
}

.third-header-word {

}
