@font-face {
  font-family: "Fira Code";
  src: url(../fonts/Fira_Code/static/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Fira Code Bold";
  src: url(../fonts/Fira_Code/static/FiraCode-Bold.ttf) format('truetype');
}

html {
  font-size: 16;
}

body {
  background-color: #B0B0B0;
  font-family: "Fira Code Bold";
}

div {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.main-header {
  font-size: 3rem;
  /*left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;*/
}

.first-header-word {
  color: white;
}

.second-header-word {
  color: crimson;
}

.third-header-word {
  color: white;
}

.begin {
  background-color: inherit;
  color: white;
  border: 4px solid crimson;
  font-family: inherit;
  font-size: 2rem;
  padding: 15px 32px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.begin:hover {
  background-color: crimson;
}
